.toolbar {
    height: 60px;
    margin: -8px;
    padding-left: 40%;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .min-margin{
     margin : 3% 0 0 40%;
  }